{% extends 'blog/base.html' %}

{% block head_title %} {{ block.super }} | About{% endblock head_title %}

{% block content %}
    <article class="media content-section">
        <h1>
            <small>
                Questo social blog parla di cinema. <br> <hr>
                Lo scopo è postare commenti e recensioni dei vostri film e serie tv preferiti.<br>
                Le regole base sono:<br>
                Evitare spoiler, insulti e spam.
            </small>
        </h1>
    </article>
{% endblock content %}