{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block head_title %} {{ block.super }} | Cambia Password{% endblock head_title %}

{% block content %}

    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Cambia Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Richiedi il cambio della Password</button>
            </div>
        </form>
    </div>

{% endblock content %}